{
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "this application provides API for the NERDZ Social Networking Platform.",
        "title": "NERDZ API.",
        "termsOfService": "there are no TOS at this moment, use at your own risk we take no responsibility",
        "contact": {
            "name": "Paolo Galeone",
            "url": "https://www.nerdz.eu/nessuno.",
            "email": "nessuno@nerdz.eu"
        },
        "license": {
            "name": "AGPL",
            "url": "http://www.gnu.org/licenses/"
        },
        "version": "1"
    },
    "host": "api.nerdz.eu",
    "basePath": "/v1",
    "paths": {
        "/me": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "info"
                ],
                "summary": "Shows the basic informations for the specified user",
                "operationId": "GetMeInfo",
                "responses": {
                    "default": {
                        "$ref": "#/responses/Me"
                    }
                }
            }
        },
        "/me/blacklist": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "info",
                    "blacklist"
                ],
                "summary": "Shows the blacklist informations for the current user",
                "operationId": "getMeBlacklist",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeBlacklist"
                    }
                }
            }
        },
        "/me/blacklist/{target}": {
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile:write"
                        ]
                    }
                ],
                "description": "Adds target to the blacklist of the current user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "blacklist"
                ],
                "operationId": "NewBlacklisted",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Target",
                        "description": "a Target is the ID of the User referenced by the operation",
                        "name": "target",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeBlacklist"
                    }
                }
            }
        },
        "/me/blacklisting": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "info",
                    "blacklisting"
                ],
                "summary": "Shows the blacklisting informations for the current user",
                "operationId": "getMeBlacklisting",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeBlacklisting"
                    }
                }
            }
        },
        "/me/followers": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "info",
                    "followers"
                ],
                "summary": "Shows the followers informations for the specified user",
                "operationId": "GetMeFollowers",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeFollowers"
                    }
                }
            }
        },
        "/me/following/projects": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "info",
                    "following"
                ],
                "summary": "Shows the following informations for the specified user",
                "operationId": "GetMeProjectFollowing",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeFollowingProjects"
                    }
                }
            }
        },
        "/me/following/projects/{target}": {
            "post": {
                "security": [
                    {
                        "oauth": [
                            "following:write"
                        ]
                    }
                ],
                "description": "Adds target project to the following list of the current user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "following"
                ],
                "operationId": "NewProjectFollowing",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Target",
                        "description": "a Target is the ID of the User referenced by the operation",
                        "name": "target",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeFollowingProjects"
                    }
                }
            }
        },
        "/me/following/users": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "info",
                    "following"
                ],
                "summary": "Shows the following informations for the specified user",
                "operationId": "GetMeFollowing",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeFollowingUsers"
                    }
                }
            }
        },
        "/me/following/users/{target}": {
            "post": {
                "security": [
                    {
                        "oauth": [
                            "following:write"
                        ]
                    }
                ],
                "description": "Adds target to the following list of the current user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "userfollowing"
                ],
                "operationId": "NewMeFollowing",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Target",
                        "description": "a Target is the ID of the User referenced by the operation",
                        "name": "target",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeFollowingUsers"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "profile:write"
                        ]
                    }
                ],
                "description": "Deletes target user from the current user blacklist",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "blacklist"
                ],
                "operationId": "DeleteBlacklisted",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Target",
                        "description": "a Target is the ID of the User referenced by the operation",
                        "name": "target",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/me/friends": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "info",
                    "friends"
                ],
                "summary": "Shows the friends informations for the specified user",
                "operationId": "GetMeFriends",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeFriends"
                    }
                }
            }
        },
        "/me/home": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "home"
                ],
                "summary": "Shows the homepage of the current user, mixing projects and users posts",
                "operationId": "getMeHome",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeHome"
                    }
                }
            }
        },
        "/me/pms": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "pms"
                ],
                "summary": "Shows the list of the private conversation of the current user",
                "operationId": "getMePms",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePms"
                    }
                }
            }
        },
        "/me/pms/{other}": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "pms"
                ],
                "summary": "Returns the private conversation of the current user with the other user",
                "operationId": "getMeConversation",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Other",
                        "description": "Other is the ID of the other user",
                        "name": "other",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePmsOther"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "pms:write"
                        ]
                    }
                ],
                "description": "Creates a new pm with from me to other user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "pm"
                ],
                "operationId": "NewMePm",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Other",
                        "description": "Other is the ID of the other user",
                        "name": "other",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePmsOtherPmid"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "pms:write"
                        ]
                    }
                ],
                "description": "Delete the conversation beteen the current user and other",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "pms"
                ],
                "operationId": "DeleteMePms",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Other",
                        "description": "Other is the ID of the other user",
                        "name": "other",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/me/pms/{other}/{pmid}": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "pms:read"
                        ]
                    }
                ],
                "description": "Update the speficied post on the specified user board",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "pms"
                ],
                "operationId": "GetMePm",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pmid",
                        "description": "a PMID is the ID of the PM",
                        "name": "pmid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Other",
                        "description": "Other is the ID of the other user",
                        "name": "other",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePmsOtherPmid"
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "oauth": [
                            "pms:write"
                        ]
                    }
                ],
                "description": "Update the speficied pm in the conversation with the other user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "pm"
                ],
                "operationId": "EditMePm",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pmid",
                        "description": "a PMID is the ID of the PM",
                        "name": "pmid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Other",
                        "description": "Other is the ID of the other user",
                        "name": "other",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePmsOtherPmid"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "pms:write"
                        ]
                    }
                ],
                "description": "Delete the speficied pm in the conversation with the other user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "pm"
                ],
                "operationId": "DeleteMePm",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pmid",
                        "description": "a PMID is the ID of the PM",
                        "name": "pmid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Other",
                        "description": "Other is the ID of the other user",
                        "name": "other",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/me/posts": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:read"
                        ]
                    }
                ],
                "description": "This will show the last posts on the user board by default.\nYou can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "posts"
                ],
                "summary": "List posts on user board, filtered by some parameters.",
                "operationId": "GetMePosts",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePosts"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Creates a new post on the specified user board",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post"
                ],
                "operationId": "NewMePost",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPid"
                    }
                }
            }
        },
        "/me/posts/{pid}": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:read"
                        ]
                    }
                ],
                "description": "This will show the last comments on the post by default.\nYou can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post"
                ],
                "summary": "Shows selected posts with id pid on specified user board",
                "operationId": "GetMePost",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPid"
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Update the speficied post on the specified user board",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post"
                ],
                "operationId": "EditMePost",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPid"
                    }
                }
            }
        },
        "/me/posts/{pid}/bookmarks": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:read"
                        ]
                    }
                ],
                "description": "List the bookmarks of the post",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "bookmarks"
                ],
                "operationId": "GetMePostBookmarks",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidBookmarks"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Adds a new bookmark on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "vote"
                ],
                "operationId": "NewMePostBookmark",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidBookmarks"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Deletes the bookmark on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "vote"
                ],
                "operationId": "DeleteMePostBookmark",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/me/posts/{pid}/comments": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile_comments:read"
                        ]
                    }
                ],
                "description": "This will show the last posts on the user board by default.\nYou can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "comments"
                ],
                "summary": "List comments on specified post, filtered by some parameters.",
                "operationId": "GetMePostComments",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidComments"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile_comments:write"
                        ]
                    }
                ],
                "description": "Creates a new post on the specified user board",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post"
                ],
                "operationId": "NewMePostComment",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidCommentsCid"
                    }
                }
            }
        },
        "/me/posts/{pid}/comments/{cid}": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile_comments:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "comment"
                ],
                "summary": "Shows selected comment on specified post, filtered by some parameters.",
                "operationId": "GetMePostComment",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidCommentsCid"
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "oauth": [
                            "profile_comments:write"
                        ]
                    }
                ],
                "description": "Update the speficied post on the specified user board",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "comment"
                ],
                "operationId": "EditMeComment",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidCommentsCid"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "profile_comments:write"
                        ]
                    }
                ],
                "description": "Delete the specified comment on the speficied user post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post"
                ],
                "operationId": "DeleteMePost",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/me/posts/{pid}/comments/{cid}/votes": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile_comments:read"
                        ]
                    }
                ],
                "description": "List the votes on the comment",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "comments",
                    "votes"
                ],
                "operationId": "GetMePostCommentsVotes",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidCommentsCidVotes"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile_comments:write"
                        ]
                    }
                ],
                "description": "Adds a new vote on the current user post comment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "comment",
                    "vote"
                ],
                "operationId": "NewMePostCommentVote",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidCommentsCidVotes"
                    }
                }
            }
        },
        "/me/posts/{pid}/locks": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:read"
                        ]
                    }
                ],
                "description": "List the locks of the post",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "locks"
                ],
                "operationId": "GetMePostLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidLocks"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Adds a new lock on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "vote"
                ],
                "operationId": "NewMePostLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidLocks"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Deletes the lock on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "vote"
                ],
                "operationId": "DeleteMePostLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/me/posts/{pid}/locks/{target}": {
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Locks the notification from the target user to the current logged user, on the specified post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "vote"
                ],
                "operationId": "NewMeNewPostUserLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Target",
                        "description": "a Target is the ID of the User referenced by the operation",
                        "name": "target",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidLocks"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Deletes the lock  for the notification of the target user on the specified post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "vote"
                ],
                "operationId": "DeleteMePostUserLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Target",
                        "description": "a Target is the ID of the User referenced by the operation",
                        "name": "target",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/me/posts/{pid}/lurks": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:read"
                        ]
                    }
                ],
                "description": "List the lurks of the post",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "bookmarks"
                ],
                "operationId": "GetMePostLurks",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidLurks"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Adds a new lurk on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "vote"
                ],
                "operationId": "NewMePostLurk",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidLurks"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Deletes the lurk on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "vote"
                ],
                "operationId": "DeleteMePostLurk",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/me/posts/{pid}/votes": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:read"
                        ]
                    }
                ],
                "description": "List the votes of the post",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "votes"
                ],
                "operationId": "GetMePostVotes",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidVotes"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile_messages:write"
                        ]
                    }
                ],
                "description": "Adds a new vote on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "post",
                    "vote"
                ],
                "operationId": "NewMePostVote",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MePostsPidVotes"
                    }
                }
            }
        },
        "/me/whitelist": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "info",
                    "whitelist"
                ],
                "summary": "Shows the whitelist informations for the current user",
                "operationId": "getMeWhitelist",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeWhitelist"
                    }
                }
            }
        },
        "/me/whitelist/{target}": {
            "post": {
                "security": [
                    {
                        "oauth": [
                            "profile:write"
                        ]
                    }
                ],
                "description": "Adds target to the whitelist of the current user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "whitelist"
                ],
                "operationId": "NewWhitelisted",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Target",
                        "description": "a Target is the ID of the User referenced by the operation",
                        "name": "target",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeWhitelist"
                    }
                }
            }
        },
        "/me/whitelisting": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "profile:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "me",
                    "info",
                    "whitelisting"
                ],
                "summary": "Shows the whitelisting informations for the current user",
                "operationId": "getMeWhitelisted",
                "responses": {
                    "default": {
                        "$ref": "#/responses/MeWhitelisting"
                    }
                }
            }
        },
        "/projects/{id}": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "projects:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "info"
                ],
                "summary": "Shows the basic informations for the specified project",
                "operationId": "getProjectInfo",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsId"
                    }
                }
            }
        },
        "/projects/{id}/followers": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "projects:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "info",
                    "followers"
                ],
                "summary": "Shows the followers informations for the specified project",
                "operationId": "getProjectFollowers",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdFollowers"
                    }
                }
            }
        },
        "/projects/{id}/members": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "projects:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "info",
                    "members"
                ],
                "summary": "Shows the members informations for the specified project",
                "operationId": "getProjectMembers",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdMembers"
                    }
                }
            }
        },
        "/projects/{id}/posts": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:read"
                        ]
                    }
                ],
                "description": "This will show the last posts on the project board by default.\nYou can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "posts"
                ],
                "summary": "List posts on project board, filtered by some parameters.",
                "operationId": "getProjectPosts",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPosts"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Creates a new post on the specified project board",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post"
                ],
                "operationId": "NewProjectPost",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPid"
                    }
                }
            }
        },
        "/projects/{id}/posts/{pid}": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:read"
                        ]
                    }
                ],
                "description": "This will show the last comments on the post by default.\nYou can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post"
                ],
                "summary": "Shows selected posts with id pid on specified project board",
                "operationId": "getProjectPost",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPid"
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Update the speficied post on the specified project board",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post"
                ],
                "operationId": "EditProjectPost",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPid"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Delete the post on the specified project board",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post"
                ],
                "operationId": "DeleteProjectPost",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/projects/{id}/posts/{pid}/bookmarks": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:read"
                        ]
                    }
                ],
                "description": "List the bookmarks of the post",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "bookmarks"
                ],
                "operationId": "GetProjectPostBookmarks",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidBookmarks"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Adds a new bookmark on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "vote"
                ],
                "operationId": "NewProjectPostBookmark",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidBookmarks"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Deletes the bookmark on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "vote"
                ],
                "operationId": "DeleteProjectPostBookmark",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/projects/{id}/posts/{pid}/comments": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "project_comments:read"
                        ]
                    }
                ],
                "description": "This will show the last posts on the project board by default.\nYou can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "comments"
                ],
                "summary": "List comments on specified post, filtered by some parameters.",
                "operationId": "getProjectPostComments",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidComments"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "project_comments:write"
                        ]
                    }
                ],
                "description": "Creates a new post on the specified project board",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "comment"
                ],
                "operationId": "NewProjectPostComment",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidCommentsCid"
                    }
                }
            }
        },
        "/projects/{id}/posts/{pid}/comments/{cid}": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "project_comments:read"
                        ]
                    }
                ],
                "description": "You can personalize the request via query string parameters",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "comment"
                ],
                "summary": "Shows selected comment on specified post, filtered by some parameters.",
                "operationId": "GetProjectPostComment",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidCommentsCid"
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "oauth": [
                            "project_comments:write"
                        ]
                    }
                ],
                "description": "Update the speficied comment on the specified project post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "comment"
                ],
                "operationId": "EditProjectPostComment",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidCommentsCid"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "project_comments:write"
                        ]
                    }
                ],
                "description": "Delete the specified comment on the speficied project post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post"
                ],
                "operationId": "DeleteProjectPostComment",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/projects/{id}/posts/{pid}/comments/{cid}/votes": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "project_comments:read"
                        ]
                    }
                ],
                "description": "List the votes on the comment",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "comments",
                    "votes"
                ],
                "operationId": "GetProjectPostCommentsVotes",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidCommentsCidVotes"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "project_comments:write"
                        ]
                    }
                ],
                "description": "Adds a new vote on the current project post comment",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "comment",
                    "vote"
                ],
                "operationId": "NewProjectPostCommentVote",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Cid",
                        "description": "a Cid is the Comment ID",
                        "name": "cid",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidCommentsCidVotes"
                    }
                }
            }
        },
        "/projects/{id}/posts/{pid}/locks": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:read"
                        ]
                    }
                ],
                "description": "List the locks of the post",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "locks"
                ],
                "operationId": "GetProjectPostLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidLocks"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Adds a new lock on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "vote"
                ],
                "operationId": "NewProjectPostLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidLocks"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Deletes the lock on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "vote"
                ],
                "operationId": "DeleteProjectPostLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/projects/{id}/posts/{pid}/locks/{target}": {
            "post": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Locks the notification from the target user to the current logged user, on the specified post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "vote"
                ],
                "operationId": "NewUserNewPostProjectLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Target",
                        "description": "a Target is the ID of the User referenced by the operation",
                        "name": "target",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidLocks"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Deletes the lock  for the notification of the target user on the specified post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "vote"
                ],
                "operationId": "DeleteProjectPostUserLock",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Target",
                        "description": "a Target is the ID of the User referenced by the operation",
                        "name": "target",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/apiResponse"
                    }
                }
            }
        },
        "/projects/{id}/posts/{pid}/lurks": {
            "get": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:read"
                        ]
                    }
                ],
                "description": "List the lurks of the post",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "bookmarks"
                ],
                "operationId": "GetProjectPostLurks",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidLurks"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Adds a new lurk on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "vote"
                ],
                "operationId": "NewProjectPostLurk",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "ID",
                        "description": "a ID is the User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "$ref": "#/responses/ProjectsIdPostsPidLurks"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "oauth": [
                            "project_messages:write"
                        ]
                    }
                ],
                "description": "Deletes the lurk on the current post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "project",
                    "post",
                    "vote"
                ],
                "operationId": "DeleteProjectPostLurk",
                "parameters": [
                    {
                        "type": "integer",
                        "format": "uint64",
                        "x-go-name": "Pid",
                        "description": "a Pid is the post id",
                        "name": "pid",
                        "in": "path",
                        "required": true
                    },
[...]
